@keyframes modalAnimation{
    from{
        opacity: 0;
        margin-top: -50px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.modal-bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;   
    top: 0px;
    left: 0px;

    .modal-content{

        width: 532px !important;
        height : 670px !important; 
        padding: 20px;
        left: calc(45vw - 150px);
        top: 10vh;
        animation: modalAnimation 0.75s;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);

        .month-date{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            text-align: left;
            padding-left: 16px;
        }

        .close-btn{
            color: #99A6B6;
            float: right;
            font-size: 24px;
        }
        .close-btn:hover, .close-btn:focus{
            color: #000000;
            text-decoration: none;
            cursor: pointer;
        }
    
        .modal-body{
            width: 492px;
            margin-bottom: 1em;


            .week-date{
                width: 432px !important;
                height: auto;
                display: flex;
                margin-bottom: 16px;

                .rightButton{
                    width: 30px;
                    height: 70px;
                    z-index: 1;

                    .button-date-right{
                        width: 30px;
                        height: 70px;
                        border: 0px;
                        box-shadow: none !important;
                        outline: none !important;
                        

                    }
                }

                .leftButton{
                    width: 30px;
                    height: 70px;
                    z-index: 1;

                    .button-date-left{
                        width: 30px;
                        height: 70px;
                        border: 0px;
                        box-shadow: none !important;
                        outline: none !important;
                    }
                }

                .midContent{
                    width:402px;
                    height: 70px;

                    .weekModal{
                        width: 100%;
                        height: 30px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400px;
                        display: flex;

                        span{
                            width: 61.7px !important;
                            text-align: center;
                            height: 30px;
                            color: #99A6B6;
                            font-weight: 500;
                            font-size: 16px;
                            padding-top: 4px;
                        }
                    }
                    .dateModal{
                        width: 402px !important;
                        height: 40px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400px;
                        display: flex;  
                        overflow-x: hidden;
                        overflow-y: hidden;
                        

                        .item-container{
                            width: 100%; 
                            display: flex; 
                            position: relative;  
                            height: 40px;
                            transition: margin-left 0.75s;
                        }

                        span{
                            width:57.4px !important;
                            text-align: center;
                            height: 40px;
                            padding-top: 4px;
                            position: absolute;
                            background: #ffffff;
                            display: flex;

                            small{
                                width: 30px;
                                height: 30px;
                                text-align: center;
                                margin: auto;
                                text-align: center;
                                padding-top: 3px;
                                font-weight: 500;
                                cursor: pointer;
                                color: #2E2E2E;
                                font-weight: 500;
                                font-size: 16px;
                            }

                            small:hover{
                                border-radius: 50%;
                                background-color: #2F80ED !important;
                                color: #f1f1f1;
                            }
                        }

                        .active-day{
                            border-radius: 50%;
                            background-color: #2F80ED !important;
                            color: #f1f1f1;
                            
                        }
                    }

                }

            }

            .listSchedules{
                width: 100%;
                height: 450px;
                padding: 0px;
                list-style-type: none; 
                overflow-y: auto;

                li{
                    width: 100%;
                    height: auto;
                    display: block;

                    .time{
                        width: 100%;
                        text-align: left; 
                        font-family: 'Roboto', sans-serif;
                        display: block;
                        padding-left: 12px;
                    }

                    .training-row-one{
                        display: flex;
                        width: 100%;
                        text-align: left;
                        span{
                            display: block;
                        }

                        .training-part-one{
                            width: 60%;
                            text-align: left;
                        }
                    }


                    .div-purple{
                        background-color: #EDEAFF;
                        height: auto;
                        width: 100%; 
                        border-radius: 9px;
                        margin-bottom: 12px;
                        padding: 16px;
                        position: relative;
                        display: block; 

                        span{
                            color: #8A7BF8;
                            font-size: 13px;
                            font-family: 'Roboto', sans-serif;
                            display: block; 
                        }
                        .training-part-one{
                            font-size: 16px;
                            width: 70%;
                            font-weight: 600px; 
                            float: left;
                            display: block; 
                        } 
                        .training-time-one{
                            width: 30%; 
                            float: right;  
                            text-align: right;
                            display: block; 
                        }
                        .training-date-one{
                            color: #8A7BF8;
                            font-size: 13px;
                            font-family: 'Roboto', sans-serif;
                            display: block;
                            float: left;
                            text-align: left;
                            width: 100%;
                            display: block; 
                        }
    
                        .training-address-one{
                            color: #8A7BF8;
                            font-size: 13px;
                            font-family: 'Roboto', sans-serif; 
                            text-align: left;
                            width: 100%;
                            display: block; 
                            margin-top: 32px;
                        }
                    }



                    .div-green{
                        background-color: #E3F8EF;
                        height: auto;
                        width: 100%; 
                        border-radius: 9px;
                        margin-bottom: 12px;
                        padding: 16px;
                        position: relative;
                        display: block; 

                        span{
                            color: #13C16C;
                            font-size: 13px;
                            font-family: 'Roboto', sans-serif;
                            display: block; 
                        }
                        .training-part-one{
                            font-size: 16px;
                            width: 70%;
                            font-weight: 600px; 
                            float: left;
                            display: block; 
                        } 
                        .training-time-one{
                            width: 30%; 
                            float: right;  
                            text-align: right;
                            display: block; 
                        }
                        .training-date-one{
                            color: #13C16C;
                            font-size: 13px;
                            font-family: 'Roboto', sans-serif;
                            display: block;
                            float: left;
                            text-align: left;
                            width: 100%;
                            display: block; 
                        }
    
                        .training-address-one{
                            color: #13C16C;
                            font-size: 13px;
                            font-family: 'Roboto', sans-serif; 
                            text-align: left;
                            width: 100%;
                            display: block; 
                            margin-top: 32px;
                        }
                    }

                    .div-red{
                        background-color: #FFE5E7;
                        height: auto;
                        width: 100%; 
                        border-radius: 9px;
                        margin-bottom: 12px;
                        padding: 16px;
                        position: relative;
                        display: block; 

                        span{
                            color: #CC0F35;
                            font-size: 13px;
                            font-family: 'Roboto', sans-serif;
                            display: block; 
                        }
                        .training-part-one{
                            font-size: 16px;
                            width: 70%;
                            font-weight: 600px; 
                            float: left;
                            display: block; 
                        } 
                        .training-time-one{
                            width: 30%; 
                            float: right;  
                            text-align: right;
                            display: block; 
                        }
                        .training-date-one{
                            color: #CC0F35;
                            font-size: 13px;
                            font-family: 'Roboto', sans-serif;
                            display: block;
                            float: left;
                            text-align: left;
                            width: 100%;
                            display: block; 
                        }
    
                        .training-address-one{
                            color: #CC0F35;
                            font-size: 13px;
                            font-family: 'Roboto', sans-serif; 
                            text-align: left;
                            width: 100%;
                            display: block; 
                            margin-top: 32px;
                        }
                    }

                    // .date{
                    //     display: grid; 
                    //     grid-template-columns: 1fr 1fr  1fr  1fr  1fr  1fr  1fr 1fr 1fr;
                    //     grid-area: auto;
                    //     font-family: 'Roboto', sans-serif; 
                    //     margin: 0.5em;
                        
                        
                    //     .button-date-left{
                    //         padding: 0px;
                    //         float: left;
                    //         margin:0px;
                    //         background-color: #2F80ED;
                    //         color: #ffffff;
                    //         border-radius: 10px;
                    //         border-style: none;
                    //     }
                    //     .button-date-right{
                    //         float: right;
                    //         background-color: #2F80ED;
                    //         color: #ffffff;
                    //         padding: 0px;
                    //         border-radius: 10px;
                    //         border-style: none;
            
                        
                    //     }
                    // }

                }
            }


            

 

            .time{
                font-size: 14px;
                color: #99A6B6;
            }

        }
    }

    
}