.training-page{
    padding: 32px 0px 0px 32px;
    height: 100vh;
    overflow-y: auto;

    h1{
        text-align: left;
        margin-bottom: 0px; 
    }

    .border-btm{
        background-color: #2F80ED;
        width: 75px;
        height: 4px;
    }

    .training-body{
        width: 100%;
        height: calc(100vh - 112px) !important;
        padding:32px 0px;
        display: flex; 

        .trainings-section{
            width: 340px !important;
            height: 100%;

            .custom-add-button{
                width: 100%;
                height: 50px; 
                border-radius: 9px; 
                border: 1px dotted #BDBDBD; 
                box-shadow: none !important;
                outline: none !important; 
                background-color: transparent;
                color: #4F4F4F;
                font-size: 12px;
                cursor: pointer;
            } 

            .custom-add-button:hover{
                font-weight: 600;
                border: 2px dotted #BDBDBD;
            }

            .list-trainings{
                width: 100%;
                height: calc(100vh - 178px);
                margin-top: 12px; 
                overflow-y: auto;
                padding-right: 12px;
                ul{
                    padding: 0px;
                    list-style-type: none;
                    margin: 0px;
                    position: relative; 

                    li{
                        display: flex;
                        height: 90px;
                        width: 100%;
                        padding-left: 16px;
                        border-radius: 9px;
                        margin-bottom: 6px;
                        cursor: pointer;

                        img{
                            height: 65px;
                            width: 65px;
                            border-radius: 50%;
                            border: 3px solid #f1f1f1;
                            object-fit: cover;
                            box-sizing: border-box;
                            box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
                            margin-top: auto;
                            margin-bottom: auto;
                        }

                        .info{
                            width: 100%;
                            display: block;
                            padding-left: 8px;
                            display: flex;

                            div{
                                height: auto;
                                margin-top: auto;
                                margin-bottom: auto;
                                width: 100%;

                                label{
                                    width: 100%;
                                    text-align: left;
                                    font-weight: 600;
                                    font-size: 14px;
                                    margin-bottom: 0px;
                                    padding-right: 8px;
                                }
    
                                small{
                                    width: 100%;
                                    font-size: 12px;
                                    text-align: left;
                                    float: left;
                                    padding-right: 8px;
                                }
                            }


                        }
                        
                    }

                    li:hover{
                        background-color: #6ea1e4;
                        color: #f1f1f1; 
                        left: -12px;
                        z-index: 999;
                        box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
                    }

                    .li-active{
                        background-color: #2F80ED !important;
                        color: #f1f1f1; 
                        left: -12px;
                        z-index: 999;
                        box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
            }

        } 

        .information-section{
            padding: 40px;
            width: calc(100% - 340px);
            display: block;
            height: calc(100vh - 118px);
            overflow-y: auto;
    
                .trainings-body-title{
                    display: flow-root;
                    span{
                        float: left;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 33px;
                    }
                    button{
                        float: right;
                        background-color: #ffffff;
                        border: #ffffff;
                        outline: none !important; 
                        color: #4e4e4e;
                        font-family: 'Roboto', sans-serif;
                        .fas{
                            font-size: 18px;
                        }
                    }

                    button:hover{
                        color: #7e7e7e;
                    }
                }
                
                .trainings-body-code{
                    text-align: left;
                    margin-top: 4px;
                    span{
                        background: #93D4FA;
                        border-radius: 12px;
                        font-size: 13px;
                        line-height: 15px;
                        padding: 8px 24px;
                        color: #0058CF;
                        font-weight: 600;
                    }
                }
                .trainings-body-image{
                    padding: 20px 0;
                    img{
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }
                .trainings-body-summary{
                    text-align: left;
                    h5{
                        font-size: 13px;
                        line-height: 15px;
                        color: #2e2e2e;
                        font-weight: bold;
                        margin-bottom: 16px;
    
                        span{
                            font-weight: normal;
                        }
                        
                    }

                    .trainings-body-desc{
                        p{
                            font-size: 13px;
                            line-height: 14px;
                            color: #2e2e2e;
                            font-weight: normal;
                        }
                    }
                }
                .trainings-body-main-schedule{
                    text-align: left;
                    h5{
                        font-size: 24px;
                    }
                    .custom-add-button{
                        width: 350px;
                        padding: 18px;
                        border: 1px dashed #bdbdbd;
                        box-sizing: border-box;
                        font-size: 12px;
                        background-color: #ffffff;
                    }
                    .custom-add-button:hover{
                        font-weight: 600;
                        border: 2px dotted #BDBDBD;
                    }
    
                    .schedule{
    
                        .schedule-date{
                            padding: 8px 0;
                            span{
                                font-size: 14px;
                                line-height: 19px;
                                font-weight: 500;
                                color: #828282;
                            }
                        }
                        .schedule-time-desc{
                            display: flex;
                            button {
                                height: 40px;
                                margin-top: auto;
                                margin-bottom: auto;
                            }
                            .schedule-time{
                                span{
                                    color: #333333;
                                    font-size: 18px;
                                    line-height: 25px;
                                    font-weight: bold;
                                }
                                p{
                                    font-size: 12px;
                                    line-height: 16px;
                                    color: #828282;
                                }
                            }
                        }
                        .schedule-first-border{
                            width: 6px;
                            height: 50px;
                            border-radius: 8px;
                            background: #2F80ED;
                            margin: 0 30px;
                        }
                        .schedule-second-border{
                            width: 6px;
                            height: 50px;
                            border-radius: 8px;
                            background: #219653;
                            margin: 0 30px;
                        }
                        .schedule-desc{
                            .schedule-name-position{
                                span{
                                    font-size: 14px;
                                    line-height: 15px;
                                    color: #333333;
                                }
                            }
                            .schedule-location{
                                span{
                                    font-size: 12px;
                                    line-height: 16px;
                                    color: #828282;
                                }
                            }
                        }
                    }
                }
        }
    }
}


.ReactModal__Content{
    width: 500px !important;
    overflow-y: auto !important;
    height: 650px;
    margin: auto;
    padding: 0 !important;
    border-radius: 12px !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .add-new-training-modal{
        img{
            object-fit: contain;
            height: 250px;
        }
        
        .add-training-form{
            height: 420px;
            overflow-y: auto;

            .add-training-title{
                padding: 20px 0;
                height: 60px;
                width: 100%;
                background: #2F80ED;
                text-align: center;

                h4{
                    color: #ffffff;
                }
            }
            Form{
                padding: 40px;
            }

            .form-group{
                margin: 0;
                span{
                    font-size: 10px;
                    line-height: 12px;
                    color: #4f4f4f;
                    font-weight: bold;
                }
                .form-control{
                    font-size: 14px;
                    line-height: 16px;
                    color: #2e2e2e;
                    font-weight: bold;
                }
            }

            .add-training-button{
                text-align: center;
                margin-top: 50px;
                
                .cancel-button{
                    margin-right: 12px;
                    padding: 8px 20px;
                    border-radius: 12px;
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    background: #EB5757;
                    font-family: roboto;
                    border: none;
                    color: #ffffff;
                    font-weight: normal;
                    font-family: 'Roboto', sans-serif;
                }

                .submit-button{
                    margin-right: 12px;
                    padding: 8px 20px;
                    border-radius: 12px;
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    background: #EB5757;
                    font-family: roboto;
                    border: none;
                    color: #ffffff;
                    font-weight: normal;
                    font-family: 'Roboto', sans-serif;
                }

                .btn-danger{
                    background: #EB5757;
                    font-size: 12px;
                    font-weight: normal;
                    font-family: roboto;
                    border-radius: 8px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-family: 'Roboto', sans-serif;
                    width: 80px;
                    height: 30px;
                }
                .btn-primary{
                    margin-right: 12px;
                    font-size: 12px;
                    font-weight: normal;
                    font-family: roboto;
                    border-radius: 8px;
                    background: #2F80ED;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-family: 'Roboto', sans-serif;
                    width: 80px;
                    height: 30px;
                }
            }

        }
    }

    .add-new-schedule-modal{
        img{
            height: 204px;
            width: 100%;
        }
        
        .add-schedule-form{
            overflow-y: auto !important;
            width: 500px;
            height: 450px;
            padding: 0 40px;
            .add-schedule-title{
                padding: 20px 0;
                height: 60px;
                width: 100%;
                text-align: center;

                h4{
                    color: #1e1e1e;
                }
            }

            .form-group{
                margin: 0;
                span{
                    font-size: 10px;
                    line-height: 12px;
                    color: #4F4F4F;
                    font-weight: bold;
                }
                .form-control{
                    font-size: 14px;
                    line-height: 16px;
                    color: #2e2e2e;
                }
            }

            .add-schedule-date-time{
                .add-schedule-date{
                    text-align: center;
                    display: flex;
                    .date-form{
                        margin-right: 12px;
                        .form-control{
                            width: 200px;
                            font-weight: normal;
                        }
                    }
                }
                .add-schedule-time{
                    text-align: center;
                    display: flex;
                    .time-form{
                        margin-right: 12px;
                        .form-control{
                            width: 200px;
                            font-weight: normal;
                        }
                    }
                }
            }

            .add-schedule-location{

                .add-schedule-location-title{
                    padding: 12px 0;
                    margin-top: 12px;
                }

            }

            .add-schedule-button{
                text-align: right;
                margin-top: 20px;
                padding-bottom: 20px;
                
                .cancel-button{
                    margin-right: 12px;
                    padding: 8px 20px;
                    border-radius: 12px;
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    background: #EB5757;
                    font-family: roboto;
                    border: none;
                    color: #ffffff;
                    font-weight: normal;
                    font-family: 'Roboto', sans-serif;
                }

                .submit-button{
                    margin-right: 12px;
                    padding: 8px 20px;
                    border-radius: 12px;
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    background: #EB5757;
                    font-family: roboto;
                    border: none;
                    color: #ffffff;
                    font-weight: normal;
                    font-family: 'Roboto', sans-serif;
                }

                .btn-danger{
                    margin-right: 12px;
                    background: #EB5757;
                    font-size: 12px;
                    font-weight: normal;
                    font-family: roboto;
                    width: 90px;
                    padding: 8px 20px;
                    border-radius: 8px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-family: 'Roboto', sans-serif;
                }
                .btn-primary{
                    margin-right: 12px;
                    font-size: 12px;
                    font-weight: normal;
                    padding: 8px 20px;
                    width: 90px;
                    font-family: 'Roboto', sans-serif;
                    border-radius: 8px;
                    background: #2F80ED;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }

        }
    }

}
